<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微信机器人</title>
    <link rel="stylesheet" type="text/css" href="popup.css">
</head>
<body>

<div id="app">
    <div class="login_box">

        <div class="qrcode" v-show="page == 'scan' ">
            <div class="qrcode-img">
                <img class="img"  class="img">
            </div>
            
            <div class="">
                <p class="sub_title">使用手机微信扫码登录</p>
            </div>
        </div>

        <div class="avatar" v-show="page == 'confirm'">
            <img class="img" mm-src="" alt="" src="https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/2KriyDK.png">
            <h4 class="sub_title">扫描成功</h4>
            <p class="tips">请在手机上点击确认以登录</p>
            <a href="javascript:;" ng-click="isScan = false;" class="action">切换帐号</a>
        </div>
    </div>

    <div class="contact_list" v-show="page == 'contacts'">
        <div v-if="groups.length">
        <dl class="control-box">
            <dd>            
                <button class="btn" id="capture-quan"  v-on:click="clickHandler" v-if="auto_captrue_state">停止采集优惠券</button>
                <button class="btn" id="capture-quan"  v-on:click="clickHandler" v-else>开始采集优惠券</button>
                <span>
                采集最近<input class="custom-short-input" id="max-quan-page" v-on:keyup="keyupHandler" type="text" v-bind:value="max_quan_page"/>页数据
                </span>
            </dd>
            <dd>
                <button class="btn" id="auto-send"  v-on:click="clickHandler" v-if="auto_send_state">暂停群发优惠券</button>
                <button class="btn" id="auto-send"  v-on:click="clickHandler" v-else>开始群发优惠券</button>
                <span>
                发送间隔<input class="custom-short-input" id="auto-send-time-span" v-on:keyup="keyupHandler" type="text" v-bind:value="auto_send_time_span"/>秒
                </span>
            </dd>
            <dd><button id="btn-logout" v-on:click="clickHandler">注销登录</button></dd>
            <dt><span>已采集{{quan_count}}条优惠券，已群发{{sended_quan_count}}条</span></dt>
        </dl>

        <div class="ng-scope">
            <h4 class="contact_title ng-scope">微信群</h4>
        </div>
        <div v-for="contact in groups" class="ng-scope">
            <div class="chat_item slide-left ng-scope">
                <div class="avatar">
                    <img class="img lazy" v-bind:src="'https://wx.qq.com'+contact.HeadImgUrl" alt="">
                </div>
                <div class="info">
                    <h3 class="nickname" >
                        <label><span class="nickname_text">{{contact.NickName}}<input v-on:click="clickHandler" class="checkbox" v-bind:value="contact.NickName"  type="checkbox" v-bind:checked="contact.Checked"/></span></label>
                    </h3>
                </div>

            </div>
        </div>
        </div>

<!--         <div v-if="contacts.length">
        <div class="ng-scope">
            <h4 class="contact_title ng-scope">联系人</h4>
        </div>
        <div v-for="contact in contacts" class="ng-scope">
            <div class="chat_item slide-left ng-scope">

                <div class="avatar">
                    <img class="img lazy" v-bind:src="'https://wx.qq.com'+contact.HeadImgUrl" alt="">
                </div>
                <div class="info">
                    <h3 class="nickname" ><span class="nickname_text">{{contact.NickName}}</span></h3>
                </div>

            </div>
        </div>
        </div> -->

    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/popup.js"></script>

</body>
</html>